#logo {
  height: 80px;
  padding: 5px 0;
}
#Reservation {
  box-sizing: border-box;
  height: 45px;
  background-color: rgba(15, 24, 26, 0.40);
  border: .5px solid;
  margin-left: 5px;
  margin-right: 5px;
}
.caret {
  display: none;
}
.navbar {
  height: 90px;
  background-color: #1A5398;
  opacity: .9;
}
.navbar-brand {
  padding: 0;
  max-width:  172px;
}
.navbar, .navbar-inverse {
	border-radius: 0;
	border: none;
	margin-bottom: 0;
	min-height: 80px;
}
.navbar-nav > li > a {
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 20px;
}
.navbar-inverse .navbar-nav > li > a {
  color: white;
  font: 400 1.15em 'Open Sans', sans-serif;
  margin-top: 1.5em;
}
.navbar-inverse .navbar-nav li a:hover {
	background-color: rgba(222,222,222, .2);
	transition: 0.7s all linear;
	height: 100%;
}

ul.nav li a {
  box-sizing: border-box;
  min-height: 45px;
}
ul.dropdown-menu {
  min-width: 0;
  width: 55px;
  padding: 0;
}
ul.dropdown-menu li a {
  padding: 10px 15px;
}


@media (max-width: 992.1px) {
  #Reservation {
    height: 35px;
  }
  .navbar-inverse .navbar-nav > li > a {
  	font-size: 0.8em;
    margin-top: 2.3em;
  }
  ul.nav li a {
    min-height: 35px;
  }
}

@media (max-width: 768px) {
  #logo {
    width: 120px;
    height: 60px;
  }
  #Reservation {
    height: 35.2px;
    background-color: #1A5398;
    border:none;
    border-top: solid;
    border-bottom: solid;
    border-top-width: 0.2px;
    border-bottom-width: 0.2px;
    margin-left: 0;
    margin-right: 0;
  }
  .caret {
    display: inline-block;
  }
  .navbar {
    min-height: 60px;
    max-height: 65px;
  }
  div.navbar-header div.navbar-brand {
    margin-left: 15%;
  }
  .navbar-toggle {
    margin-top: 15.5px;
    margin-right: 10%;
  }
  .navbar-inverse .navbar-nav > li > a {
    	font-size: 0.8em;
      margin-top: 0em;
      border-top: solid;
      border-bottom: solid;
      border-top-width: 0.2px;
      border-bottom-width: 0.2px;
      background-color: #1A5398;
    }
  .navbar-nav > li > ul {
    margin-left: 10%;
    margin-right: 10%;
  }
  .navbar-nav > li > ul > li {
    margin-left: 5px;
    margin-right: 5px;
  }

  .dropdown-menu > li > a {
    padding-left: 0;
  }
  .navbar-nav .open .dropdown-menu > li > a {
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 3px;
    background-color: #1A5398;
  }
  .navbar-nav .open .dropdown-menu {
    display: flex;
    margin-left: 0;
    margin-right: 0;
    justify-content: center;
  }
  .navbar-collapse {
    border-width: 0;
  }
  .navbar-collapse.in {
    overflow-y: visible;
  }
  li.dropdown.open {
    background-color: #1A5398;
  }
  ul.nav {
    margin-top:0px;
    margin-bottom: 0px;
  }
}



/*----------------------------------------------
--Nav effects
-----------------------------------------------  */

nav ul {
  list-style: none;
  text-align: center;
}
nav ul li {
  display: inline-block;
}
nav ul li a {
  display: block;
  text-decoration: none;
  color: #aaa;
  font-weight: 800;
  text-transform: uppercase;
  margin: 0 0px;
}
nav ul li a,
nav ul li a:after,
nav ul li a:before {
  transition: all 0.4s;
}
nav ul li a:hover {
  color: #555;
}
nav.fill ul li a {
  position: relative;
}
nav.fill ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: #aaa;
  background: blue;
  height: 1px;
}
nav.fill ul li a {
  transition: all .4s;
}
nav.fill ul li a:after {
  text-align: left;
  margin: 0;
  opacity: 0;
}
nav.fill ul li a:hover {
  color: red;
  z-index: 1;
}
nav.fill ul li a:hover:after {
  z-index: -10;
  animation: fill .5s forwards;
  -webkit-animation: fill .5s forwards;
  -moz-animation: fill .5s forwards;
  opacity: 1;
}

/* Keyframes */
@-webkit-keyframes fill {
  0% {
    width: 0%;
    height: 0.1px;
  }
  50% {
    width: 100%;
    height: 0.1px;
  }
  100% {
    width: 100%;
    height: 100%;
    background: #001D4A;
  }
}
/*End of nav effects */


/*----------------------------------------------
--Banner
-----------------------------------------------  */
.sect-banner{
 display: table;
 margin: 0 auto;
 text-align: center;

 /*-- Full Height --*/
 height: 100vh;
 color:	rgba(255,255,255,0.9);
}


.sect-banner:after button {
  position: absolute;
  z-index: 5;
}

 /*-- Vertically center --*/
.sect-banner ul.kf-slider .v-center{
  margin: 0 auto;
  top: 50%;
  position: relative;
  z-index: 4;
 }

.kf-slider li {
  -webkit-animation: fade-out 16s infinite both; /* Safari 4+ */
  -moz-animation:    fade-out 16s infinite both; /* Fx 5+ */
  -o-animation:      fade-out 16s infinite both; /* Opera 12+ */
  animation:         fade-out 16s infinite both; /* IE 10+, Fx 29+ */
}

@keyframes fade-out {
 33%{
  opacity: 1;
 }
 66%{
 opacity: 0;
 }
 }

 ul.kf-slider li{
   height: 100%;
   width: 100%;
   position: absolute;
   top: 0;
   background-size: cover;
   background-repeat: no-repeat;
   background-position:	50%;
   z-index: 0;
   opacity: 0;
   left: 0;
   list-style-type: none;
  }

ul.kf-slider li:nth-child(1){
  /*-- Add animation --*/
  animation: fade-out 9s;
  animation-iteration-count: infinite;
  /*-- Image 1: small --*/
  background-image: url(../images/IMG_9417.JPG);
}
/*-- Image 2 --*/
ul.kf-slider li:nth-child(2){
  animation: fade-out 9s;
  animation-delay: 3s;
  animation-iteration-count: infinite;
 background-image: url(../images/IMG_9462.JPG);
 /*-- Animation delay: 3s --*/

}
/*-- Image 3 --*/
ul.kf-slider li:nth-child(3){
 background-image: url(../images/IMG_9530.JPG);
 /*-- Animation delay: 3s --*/
 animation: fade-out 9s;
 animation-iteration-count: infinite;
 animation-delay: 6s;
}
