#logo {
  height: 80px;
  border: solid;
  margin: 0;
  padding: 0;
}
.navbar {
  height: 75px;
  background-color: #1A5398;
}
.navbar-brand {
  margin: -5px 0;
  padding: 0 15px;
  max-width:  172px;
}
.navbar-nav > li > a {
  padding-top: 5px;
  padding-bottom: 5px;
  line-height: 20px;
}

.navbar, .navbar-inverse {
	border-radius: 0;
	border: none;
	margin-bottom: 0;
	min-height: 80px;
}

.nav li {
	display: inline;
	color: white;
}

.navbar-inverse .navbar-nav > li > a {
	color: #ffffff;
	font-family: Lato;
  font-style: italic;
	font-size: 1.25em;
	font-weight: 400;
  margin-top: 1.5em;
	/*padding: 30px 25px 33px 25px;*/
}

.navbar-inverse .navbar-nav li a:hover {
	background-color: #444444;
	transition: 0.7s all linear;
	height: 100%;
}
/*https://codepen.io/macsupport/pen/bKFzD?editors=1010*/

.container {
  padding: 0;
  margin-left: 30px;
  margin-right: 20px;

}

/*----------------------------------------------
--Banner
-----------------------------------------------  */
.sect-banner{
 display: table;
 margin: 0 auto;
 text-align: center;

 /*-- Full Height --*/
 height: 100vh;
 color:	rgba(255,255,255,0.9);
}


.sect-banner:after button {
  position: absolute;
  z-index: 5;
}

 /*-- Vertically center --*/
.sect-banner ul.kf-slider .v-center{
  margin: 0 auto;
  top: 50%;
  position: relative;
  z-index: 4;
 }

.kf-slider li {
  -webkit-animation: fade-out 16s infinite both; /* Safari 4+ */
  -moz-animation:    fade-out 16s infinite both; /* Fx 5+ */
  -o-animation:      fade-out 16s infinite both; /* Opera 12+ */
  animation:         fade-out 16s infinite both; /* IE 10+, Fx 29+ */
}

@keyframes fade-out {
 33%{
  opacity: 1;
 }
 66%{
 opacity: 0;
 }
 }

 ul.kf-slider li{
   height: 100%;
   width: 100%;
   position: absolute;
   top: 0;
   background-size: cover;
   background-repeat: no-repeat;
   background-position:	50%;
   z-index: 0;
   opacity: 0;
   left: 0;
   list-style-type: none;
  }

ul.kf-slider li:nth-child(1){
  /*-- Add animation --*/
  animation: fade-out 9s;
  animation-iteration-count: infinite;
  /*-- Image 1: small --*/
  background-image: url(../images/IMG_9417.JPG);
}
/*-- Image 2 --*/
ul.kf-slider li:nth-child(2){
  animation: fade-out 9s;
  animation-delay: 3s;
  animation-iteration-count: infinite;
 background-image: url(../images/IMG_9462.JPG);
 /*-- Animation delay: 3s --*/

}
/*-- Image 3 --*/
ul.kf-slider li:nth-child(3){
 background-image: url(../images/IMG_9530.JPG);
 /*-- Animation delay: 3s --*/
 animation: fade-out 9s;
 animation-iteration-count: infinite;
 animation-delay: 6s;
}
